<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zogori</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <!-- header -->
        <div id="header">
            <div class="header_container">
                <h1><a href="/">ZOGORI</a></h1>
            </div>
        </div>

        <!-- container, menu bar and main screen -->
        <div id="container">
            <nav class="container_menu">
                <ul class="menu">
                    <li class="menu_item"><a href="/">Evaluation</a></li>
                    <li class="menu_item"><a href="/error_report">Error Report</a></li>
                    <li class="menu_item"><a href="/about">About</a></li>
                </ul>
            </nav>

            <div class="container_main">
                <div class="about">
                    <h2>ABOUT</h2>
                    <div id="about_info">
                        <p>과제 코드용 <b>코드 elegance 분석 사이트</b>입니다.<br>업로드된 코드들을 분석하여 그 중 상대적으로 elegance하지 않은것들을 골라내줍니다.<br><br>
                            <b>Code elegance analysis site</b> for assignment code.<br>Analyze the uploaded codes and select the ones that are not relatively elegant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- footer -->
        <div id="footer"></div>
    </body>
</html>
