<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zogori</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <!-- header -->
        <div id="header">
            <div class="header_container">
                <h1><a href="/">ZOGORI</a></h1>
            </div>
        </div>

        <!-- container, menu bar and main screen -->
        <div id="container">
            <nav class="container_menu">
                <ul class="menu">
                    <li class="menu_item"><a href="/">Evaluation</a></li>
                    <li class="menu_item"><a>QnA</a></li>
                    <li class="menu_item"><a>About</a></li>
                </ul>
            </nav>

            <div class="container_main">
                <div class="evaluation">
                    <h2>EVALUATION</h2>
                    <form action="/uploadFileWithOriginalFilename" enctype="multipart/form-data" method="post">
                        <div class="languageSelect">
                            <span>Select Language</span>
                            <label><input type="radio" value="c/c++"name="language" checked />c/c++</label>
                            <label><input type="radio" value="python"name="language" />python</label>
                        </div>
                        <div>
                        <!-- upload button -->
                            <input class="upload" type="file" name="attachment" accept=".c, .cpp, .py" />
                            <button type="submit" class="btn btn-primary">Evaluate</button>
                        </div>
                        <p style="font-size: smaller; margin-top: 0%;"> * Don't put file contains Korean</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <!-- footer -->
        <div id="footer"></div>
    </body>
</html>
