:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;

    --color-light-grey: #bdbdbd;
    --color-grey: #7c7979;
    --color-dark-grey: #4d4d4d;

    --color-light-sky: #c0d0fc;
    --color-sky: #8dabfe;
    --color-dark-sky: #809dd3;

    --color-light-yellow: #fff7d1;
    --color-yellow: #ffe66c;
    --color-orange: #feb546;

    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

/* header */
#header {
    background: url("imgs/background.png?v=2") center/cover no-repeat;
    padding: 20px;
    text-align: center;
}

#header h1 {
    font-size: var(--font-large);
    color: var(--color-white);
}

#container {
    display: flex;
}

/* menu */
.menu {
    list-style: none;
    padding-left: 0;
    padding: 20px 0;
    margin: 0;
}

.menu_item {
    cursor: pointer;
    padding: 8px 16px;
    margin: 0 4px;
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
}

.menu_item:hover {
    text-decoration: underline;
}

/* main */
.container_main {
    display: block;
    padding: 16px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.evaluation {
    display: block;
    /* height: 100px; */
}

.upload {
    background-color: var(--color-grey);
    width: fit-content;
    margin: auto;
    margin-top: 8px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-size: var(--font-regular);
}

.upload:hover {
    background-color: var(--color-dark-grey);
    cursor: pointer;
}

#file_uploads {
    display: none;
}

.preview {
    font-weight: bold;
}

.score {
    display: flex;
    justify-content: space-around;
}

.scoreContainer {
    margin: 16px;
    width: 100%;
    height: 300px;
    padding: 16px;
    background-color: var(--color-light-white);
    border-radius: 10px;
    overflow: hidden;
}

.score table {
    width: 100%;
}

.score th {
    font-size: var(--font-medium);
    font-weight: bolder;
    color: var(--color-dark-grey);
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid var(--color-dark-grey);
}

.score td {
    padding: 16px;
    text-align: left;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    #container {
        display: block;
    }

    .container_menu {
        align-items: center;
        width: 100%;
    }

    .menu {
        justify-content: space-between;
        display: flex;
        margin: 0px 40px;
    }
}

a {
    text-decoration-line: none;
}
