:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;

    --color-light-grey: #bdbdbd;
    --color-grey: #7c7979;
    --color-dark-grey: #4d4d4d;

    --color-light-sky: #c0d0fc;
    --color-sky: #8dabfe;
    --color-dark-sky: #809dd3;

    --color-light-yellow: #fff7d1;
    --color-yellow: #ffe66c;
    --color-orange: #feb546;

    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 23px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

/* header */
#header {
    background: url("imgs/background.png?v=2") center/cover no-repeat;
    padding: 20px;
    text-align: center;
}

#header h1 {
    font-size: var(--font-large);
    color: var(--color-white);
}

h1 a:visited {
    color: var(--color-white);
}

#container {
    display: flex;
}

/* menu */
.container_menu {
    align-items: center;
    width: 100%;
    border-bottom: 1px dashed var(--color-light-grey);
}

.menu {
    list-style: none;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 12px 200px;
}

.menu_item {
    cursor: pointer;
    margin: 0 4px;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
}

.menu_item a {
    color: var(--color-black);
}

.menu_item:hover {
    text-decoration: underline;
}

.menu_item a:visited {
    color: var(--color-black);
}

/* main */
.container_main {
    display: block;
    position: absolute;
    padding-top: 50px;
    margin: 0px;
    text-align: center;
    width: 100%;
    z-index: -1;
}

.evaluation {
    display: block;
    /* height: 100px; */
}
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.upload {
    background-color: var(--color-grey);
    width: fit-content;
    margin: 5px;
    margin-top: 8px;
    padding: 4px;
    border-radius: 5px;
    color: white;
}

.upload:hover {
    background-color: var(--color-dark-grey);
    cursor: pointer;
}

#file_uploads {
    display: none;
}

.preview {
    font-weight: bold;
}

.score {
    display: flex;
    justify-content: space-around;
}

.scoreContainer {
    margin: 16px;
    /* width: 70%; */
    min-height: 300px;
    padding: 16px;
    /* background-color: var(--color-light-white); */
    border-radius: 10px;
    overflow: hidden;
    font-size: 0;
}

.score table {
    width: auto;
    margin: auto;
    padding: 4px;
    border-collapse: collapse;
}

.score th {
    font-size: var(--font-medium);
    font-weight: bolder;
    color: var(--color-dark-grey);
    text-align: left;
    padding: 5px;
    /* border-bottom: 2px solid var(--color-dark-grey); */
}

.score td {
    font-size: var(--font-small);
    padding-right: 32px;
    padding-bottom: 3px;
    text-align: left;
    width: fit-content;
    border-bottom: 1px dashed var(--color-grey);
}

/* error report */
#contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: left;
    border-collapse: collapse;
    width: 500px;
}

#contact thead {
    background-color: var(--color-grey);
    color: var(--color-light-white);
}

#contact td {
    border-bottom: 1px solid var(--color-light-white);
}

#contact .name {
    padding: 8px 16px 8px 16px;
    font-weight: var(--weight-semi-bold);
}
#contact .in_charge {
    padding: 8px 100px 8px 16px;
}
#contact .email {
    padding: 8px 16px 8px 16px;
}

#contact .email_inside:hover {
    text-decoration: underline;
    cursor: pointer;
}

.format {
    margin-top: 24px;
    margin-bottom: 8px;
}

#format_info {
    margin-left: auto;
    margin-right: auto;
    border: 1px var(--color-light-grey) dashed;
    width: 500px;
    padding: 16px;
    text-align: left;
    border-radius: 5px;
}

#format_info:hover {
    background-color: var(--color-light-white);
}

.copy_info {
    font-size: var(--font-small);
}

/* About */
#about_info {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 32px;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    #about_info {
        width: 70%;
        padding-left: 8px;
        text-align: left;
    }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .container_main {
        padding: 16px;
    }

    #container {
        display: block;
    }

    .container_menu {
        align-items: center;
        width: 100%;
    }

    .menu {
        margin: 0px 40px;
    }

    .score td {
        font-size: var(--font-small);
        padding-right: 10px;
    }

    #about_info {
        width: 90%;
        padding-left: 8px;
        text-align: left;
    }
}

a {
    text-decoration-line: none;
}
